In [20]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import numpy as np
a = pd.read_csv("grades.csv")
a.head(15)

   grade  overall percentage
0  10.16               80.00
1  10.32               85.00
2  10.50               85.00
3  10.66               90.00
4  10.82               93.00
5  11.00               93.60
6  11.16               81.80
7  11.32               91.25

In [25]:
x = np.array(a["grade"]).reshape(-1, 1)
y = np.array(a["overall percentage"]).reshape(-1, 1)
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.2,random_state = 1)
clf = LinearRegression()
clf.fit(x_train, y_train)

LinearRegression()

In [28]:
clf.predict([[12]])

array([[95.5172927]])

In [22]:
x_test

array([[91.25],
       [85.  ]])